body {
  background: url('/watercolor.png');
  margin: 0;
}

h1 {
  background-color: pink;
  padding: 12px;
  margin: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  background-color: white;
  padding: 20px;
  width: fit-content;
  margin: 10px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
